@import "tailwindcss";
@import "./styles/scrollbar.css";

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

@theme {
  /* ───────── Shades ───────── */
  --color-shades-01: #ffffff;
  --color-shades-02: #222222;
  --color-shades-03: rgb(34 34 34 / 5%);
  --color-shades-04: rgb(34 34 34 / 30%);

  /* ───────── Neutrals ───────── */
  --color-neutrals-01: #f7f7f7;
  --color-neutrals-02: #ebebeb;
  --color-neutrals-03: #dddddd;
  --color-neutrals-04: #d3d3d3;
  --color-neutrals-05: #c2c2c2;
  --color-neutrals-06: #b0b0b0;
  --color-neutrals-07: #717171;
  --color-neutrals-08: #5e5e5e;
  --color-neutrals-09: #505050;

  /* ───────── Coral ───────── */
  --color-corals-000: #fff1f0;
  --color-corals-100: #ffcac5;
  --color-corals-200: #ffa299;
  --color-corals-400: #e2655a;
  --color-corals-500: #c55248;
  --color-corals-600: #a84138;

  /* ───────── Primary ───────── */
  --color-primary-01: #ff7a6e;

  /* ───────── Gradient ───────── */
  --gradient-primary: linear-gradient(to bottom, #ff7a6e 0%, #ffd166 100%);
  --gradient-radial: radial-gradient(
    73.63% 38.33% at 50% 54.31%,
    rgba(255, 122, 110, 0.75) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );

  /* ───────── Font Family ───────── */
  --font-sans: Pretendard, system-ui, sans-serif;

  /* ───────── Typography ───────── */

  /* Title */
  --typo-title-size: 24px;
  --typo-title-line: 28.8px; /* 120% */
  --typo-title-weight: 700;

  /* Sub Title */
  --typo-sub-title-size: 20px;
  --typo-sub-title-line: 24px;
  --typo-sub-title-weight: 700;

  /* Headline */
  --typo-headline-size: 16px;
  --typo-headline-line: 19.2px;
  --typo-headline-weight: 700;

  /*추가 라인*/
  /* Body 24 Semibold */
  --typo-body-24-semibold-size: 24px;
  --typo-body-24-semibold-line: 36px; /* 150% */
  --typo-body-24-semibold-weight: 600;

  /* Body 20 Medium */
  --typo-body-20-medium-size: 20px;
  --typo-body-20-medium-line: 24px; /* 120% */
  --typo-body-20-medium-weight: 500;

  /* Body 19 Medium */
  --typo-body-19-medium-size: 19px;
  --typo-body-19-medium-line: 22.8px; /* 120% */
  --typo-body-19-medium-weight: 500;

  /* Body 19 Regular*/
  --typo-body-19-regular-size: 19px;
  --typo-body-19-regular-line: 22.8px; /* 120% */
  --typo-body-19-regular-weight: 400;

  /* Body 18 Medium */
  --typo-body-18-medium-size: 18px;
  --typo-body-18-medium-line: 21.6px; /* 120% */
  --typo-body-18-medium-weight: 500;

  /* Body 17 Medium */
  --typo-body-17-medium-size: 17px;
  --typo-body-17-medium-line: 20.4px; /* 120% */
  --typo-body-17-medium-weight: 500;
  /*추가 라인*/

  /* Body 16 Bold */
  --typo-body-16-bold-size: 16px;
  --typo-body-16-bold-line: 24px; /* 150% */
  --typo-body-16-bold-weight: 700;

  /* Body 16 Semibold */
  --typo-body-16-semibold-size: 16px;
  --typo-body-16-semibold-line: 24px; /* 150% */
  --typo-body-16-semibold-weight: 600;

  /* Body 16 Medium */
  --typo-body-16-medium-size: 16px;
  --typo-body-16-medium-line: 19.2px; /* 120% */
  --typo-body-16-medium-weight: 500;

  /* Body 16 Regular 얘 추가!!!!!!*/
  --typo-body-16-regular-size: 16px;
  --typo-body-16-regular-line: 19.2px; /* 120% */
  --typo-body-16-regular-weight: 400;

  /* Body 16 Light 얘 추가!!!!*/
  --typo-body-16-light-size: 16px;
  --typo-body-16-light-line: 19.2px; /* 120% */
  --typo-body-16-light-weight: 300;

  /* Body 15 Semibold */
  --typo-body-15-semibold-size: 15px;
  --typo-body-15-semibold-line: 22.5px; /* 150% */
  --typo-body-15-semibold-weight: 600;

  /* Body 15 Medium */
  --typo-body-15-medium-size: 15px;
  --typo-body-15-medium-line: 22.5px; /* 150% */
  --typo-body-15-medium-weight: 500;

  /* Body 15 Regular */
  --typo-body-15-regular-size: 15px;
  --typo-body-15-regular-line: 18px; /* 120% */
  --typo-body-15-regular-weight: 400;

  /* Body 14 Semibold 얘 추가!!!!! */
  --typo-body-14-semibold-size: 14px;
  --typo-body-14-semibold-line: 21px; /* 150% */
  --typo-body-14-semibold-weight: 600;

  /* Body 14 Medium */
  --typo-body-14-medium-size: 14px;
  --typo-body-14-medium-line: 21px; /* 150% */
  --typo-body-14-medium-weight: 500;

  /* Body 14 Regular */
  --typo-body-14-regular-size: 14px;
  --typo-body-14-regular-line: 16.8px; /* 120% */
  --typo-body-14-regular-weight: 400;

  /* Body 13 Semibold 얘 추가!!!!! */
  --typo-body-13-semibold-size: 13px;
  --typo-body-13-semibold-line: 19.5px; /* 150% */
  --typo-body-13-semibold-weight: 600;

  /* Body 13 Medium */
  --typo-body-13-medium-size: 13px;
  --typo-body-13-medium-line: 19.5px; /* 150% */
  --typo-body-13-medium-weight: 500;

  /* Body 13 Regular */
  --typo-body-13-regular-size: 13px;
  --typo-body-13-regular-line: 15.6px; /* 120% */
  --typo-body-13-regular-weight: 400;

  /* Body 12 Semibold 얘 추가!!!!! */
  --typo-body-12-semibold-size: 12px;
  --typo-body-12-semibold-line: 18px; /* 150% */
  --typo-body-12-semibold-weight: 600;

  /* Body 12 Medium */
  --typo-body-12-medium-size: 12px;
  --typo-body-12-medium-line: 18px; /* 150% */
  --typo-body-12-medium-weight: 500;

  /* Body 12 Regular */
  --typo-body-12-regular-size: 12px;
  --typo-body-12-regular-line: 14.4px; /* 120% */
  --typo-body-12-regular-weight: 400;

  /* Body 12 Light 얘추가!!!!! */
  --typo-body-12-light-size: 12px;
  --typo-body-12-light-line: 14.4px; /* 120% */
  --typo-body-12-light-weight: 300;
}

@layer utilities {
  .typo-title {
    font-size: var(--typo-title-size);
    line-height: var(--typo-title-line);
    font-weight: var(--typo-title-weight);
  }

  .typo-sub-title {
    font-size: var(--typo-sub-title-size);
    line-height: var(--typo-sub-title-line);
    font-weight: var(--typo-sub-title-weight);
  }

  .typo-headline {
    font-size: var(--typo-headline-size);
    line-height: var(--typo-headline-line);
    font-weight: var(--typo-headline-weight);
  }
  .typo-24-semibold {
    font-size: var(--typo-body-24-semibold-size);
    line-height: var(--typo-body-24-semibold-line);
    font-weight: var(--typo-body-24-semibold-weight);
  }

  .typo-20-medium {
    font-size: var(--typo-body-20-medium-size);
    line-height: var(--typo-body-20-medium-line);
    font-weight: var(--typo-body-20-medium-weight);
  }

  .typo-19-medium {
    font-size: var(--typo-body-19-medium-size);
    line-height: var(--typo-body-19-medium-line);
    font-weight: var(--typo-body-19-medium-weight);
  }

  .typo-19-regular {
    font-size: var(--typo-body-19-regular-size);
    line-height: var(--typo-body-19-regular-line);
    font-weight: var(--typo-body-19-regular-weight);
  }

  .typo-18-medium {
    font-size: var(--typo-body-18-medium-size);
    line-height: var(--typo-body-18-medium-line);
    font-weight: var(--typo-body-18-medium-weight);
  }

  .typo-17-medium {
    font-size: var(--typo-body-17-medium-size);
    line-height: var(--typo-body-17-medium-line);
    font-weight: var(--typo-body-17-medium-weight);
  }

  .typo-16-bold {
    font-size: var(--typo-body-16-bold-size);
    line-height: var(--typo-body-16-bold-line);
    font-weight: var(--typo-body-16-bold-weight);
  }

  .typo-16-semibold {
    font-size: var(--typo-body-16-semibold-size);
    line-height: var(--typo-body-16-semibold-line);
    font-weight: var(--typo-body-16-semibold-weight);
  }

  .typo-16-medium {
    font-size: var(--typo-body-16-medium-size);
    line-height: var(--typo-body-16-medium-line);
    font-weight: var(--typo-body-16-medium-weight);
  }

  .typo-16-regular {
    font-size: var(--typo-body-16-regular-size);
    line-height: var(--typo-body-16-regular-line);
    font-weight: var(--typo-body-16-regular-weight);
  }

  .typo-16-light {
    font-size: var(--typo-body-16-light-size);
    line-height: var(--typo-body-16-light-line);
    font-weight: var(--typo-body-16-light-weight);
  }

  .typo-15-semibold {
    font-size: var(--typo-body-15-semibold-size);
    line-height: var(--typo-body-15-semibold-line);
    font-weight: var(--typo-body-15-semibold-weight);
  }

  .typo-15-medium {
    font-size: var(--typo-body-15-medium-size);
    line-height: var(--typo-body-15-medium-line);
    font-weight: var(--typo-body-15-medium-weight);
  }

  .typo-15-regular {
    font-size: var(--typo-body-15-regular-size);
    line-height: var(--typo-body-15-regular-line);
    font-weight: var(--typo-body-15-regular-weight);
  }

  .typo-14-semibold {
    font-size: var(--typo-body-14-semibold-size);
    line-height: var(--typo-body-14-semibold-line);
    font-weight: var(--typo-body-14-semibold-weight);
  }

  .typo-14-medium {
    font-size: var(--typo-body-14-medium-size);
    line-height: var(--typo-body-14-medium-line);
    font-weight: var(--typo-body-14-medium-weight);
  }

  .typo-14-regular {
    font-size: var(--typo-body-14-regular-size);
    line-height: var(--typo-body-14-regular-line);
    font-weight: var(--typo-body-14-regular-weight);
  }

  .typo-13-semibold {
    font-size: var(--typo-body-13-semibold-size);
    line-height: var(--typo-body-13-semibold-line);
    font-weight: var(--typo-body-13-semibold-weight);
  }

  .typo-13-medium {
    font-size: var(--typo-body-13-medium-size);
    line-height: var(--typo-body-13-medium-line);
    font-weight: var(--typo-body-13-medium-weight);
  }

  .typo-13-regular {
    font-size: var(--typo-body-13-regular-size);
    line-height: var(--typo-body-13-regular-line);
    font-weight: var(--typo-body-13-regular-weight);
  }

  .typo-12-semibold {
    font-size: var(--typo-body-12-semibold-size);
    line-height: var(--typo-body-12-semibold-line);
    font-weight: var(--typo-body-12-semibold-weight);
  }

  .typo-12-medium {
    font-size: var(--typo-body-12-medium-size);
    line-height: var(--typo-body-12-medium-line);
    font-weight: var(--typo-body-12-medium-weight);
  }

  .typo-12-regular {
    font-size: var(--typo-body-12-regular-size);
    line-height: var(--typo-body-12-regular-line);
    font-weight: var(--typo-body-12-regular-weight);
  }

  .typo-12-light {
    font-size: var(--typo-body-12-light-size);
    line-height: var(--typo-body-12-light-line);
    font-weight: var(--typo-body-12-light-weight);
  }
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}

/* 클릭 가능한 기본 요소들 */
a[href],
button,
[role="button"],
[role="link"],
label,
summary {
  @apply cursor-pointer;
}

/* 비활성화된 버튼은 기본 커서 */
button:disabled,
[aria-disabled="true"] {
  @apply cursor-default;
}

/* 온보딩 (첫번째 화면) 페이드인 효과 */
@layer utilities {
  .animate-fade-in {
    animation: fadeIn 2s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* 스플래쉬 화면 (순차적 등장)*/

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anim-fade-up {
  opacity: 0;
  animation-name: fade;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

/* 스크롤바 숨김 */
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge(legacy) */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* 세로 스크롤바 숨기기 */
.no-scrollbar-y {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar-y::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
